/* body{
    background-color: brown;
}

.container{
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#sb{
    padding: 10px;
    background-color: black;
    color: beige;
    
}

img{
    height: 100%;
    width: 100%;
} */