/* body{
    background-color: brown;
}

.container{
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#sb{
    padding: 10px;
    background-color: black;
    color: beige;
    
}

img{
    height: 100%;
    width: 100%;
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial, sans-serif;

}

tbody{
    text-align: center;
    color: brown;
}